<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= book.created_at %>
  </p>

  <p>
    <strong>Updated At:</strong>
    <%= book.updated_at %>
  </p>

</div>
